<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap-4.1.3/bootstrap.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../Plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../Content/product.css">
    <link rel="stylesheet" type="text/css" href="../Content/product_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Sidebar -->

        <div class="sidebar">

            <!-- Info -->
            <div class="info">
                <div class="info_content d-flex flex-row align-items-center justify-content-start">
                    <!-- Language -->
                    <div class="info_languages has_children">
                        <div class="language_flag"><img src="../Images/flag_english.png" alt="https://www.flaticon.com/authors/freepik"></div>
                        <div class="dropdown_text">english</div>
                        <div class="dropdown_arrow"><img src="../Images/down.png"></div>

                        <!-- Language Dropdown Menu -->
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="language_flag"><img src="../Images/flag_estonia.png" alt="https://www.flaticon.com/authors/freepik"></div>
                                    <div class="dropdown_text">Estonian</div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Currency -->
                    <div class="info_currencies has_children">
                        <div class="dropdown_text">EUR</div>
                        <div class="dropdown_arrow"><img src="../Images/down.png"></div>

                        <!-- Currencies Dropdown Menu -->
                        <ul>
                            <li><a href="#"><div class="dropdown_text">USD</div></a></li>
                        </ul>

                    </div>

                </div>
            </div>

            <!-- Logo -->
            <div class="sidebar_logo">
                <a href="@Url.Action("Index", "Web")">
                    <img src="../Images/logo.png" width="162" height="150">
            </div>

            <!-- Sidebar Navigation -->
            <nav class="sidebar_nav">
                <ul>
                    <li><a href="@Url.Action("Index", "Web")">home</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

            <!-- Search -->
            <div class="search">
                <form action="#" class="search_form" id="sidebar_search_form">
                    <input type="text" class="search_input" placeholder="Search" required="required">
                    <button class="search_button"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <!-- Cart -->
            <div class="cart d-flex flex-row align-items-center justify-content-start">
                <div class="cart_icon">
                    <a href="@Url.Action("Cart", "Web")">
                        <img src="../Images/bag.png" alt="">
                        <div class="cart_num">2</div>
                    </a>
                </div>
                <div class="cart_text">Cart</div>
                <div class="cart_price">$39.99 (1)</div>
            </div>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../Images/categories.jpg" data-speed="0.8"></div>
            <div class="home_container">
                <div class="home_content">
                    <div class="home_title">Product Info</div>
                </div>
            </div>
        </div>

        <!-- Products -->

        <div class="product">

            <div class="products_bar">
                <div class="products_bar_content d-flex flex-row align-items-center justify-content-start"></div>
            </div>

            <!-- Product Content -->
            <div class="section_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="product_content_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                <div class="product_content order-lg-1 order-2">
                                    <div class="product_content_inner">
                                        <div class="product_image_row d-flex flex-md-row flex-column align-items-md-end align-items-start justify-content-start">
                                            <div class="product_image">
                                                @Html.Raw((String)ViewBag.product_image)
                                            </div>
                                        </div>
                                        <div class="product_image_row">
                                            <div class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id luctus erat, ut vestibulum quam. Vestibulum finibus ex eu tortor egestas, quis elementum nunc rutrum. Ut ultrices dignissim nibh a malesuada. Sed pharetra, sem ac aliquam euismod, quam mi egestas velit, non varius odio ex eget tortor. Praesent placerat tincidunt ultricies. Nullam pharetra et neque ut ullamcorper. Sed ornare massa ex, non euismod metus ullamcorper in. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_sidebar order-lg-2 order-1">
                                    <div class="product_name">@Html.Raw((String)ViewBag.product_name)</div>
                                    <div class="product_price" id="product_price">$0</div>
                                    <div class="product_type" id="product_type">Type: @Html.Raw((String)ViewBag.product_type)</div>
                                    <div class="product_time">
                                        <div class="product_time_title">Select Renting time</div>
                                        <div class="product_time_list">
                                            <ul>
                                                <li class="time">
                                                    <input type="radio" id="radio_1" name="product_radio" class="regular_radio radio_1" onclick="setPrice(1)">
                                                    <label for="radio_1">1 Day</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_2" name="product_radio" class="regular_radio radio_2" onclick="setPrice(2)">
                                                    <label for="radio_2">2 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_3" name="product_radio" class="regular_radio radio_3" onclick="setPrice(3)">
                                                    <label for="radio_3">3 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_4" name="product_radio" class="regular_radio radio_4" onclick="setPrice(4)">
                                                    <label for="radio_4">4 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_5" name="product_radio" class="regular_radio radio_5" onclick="setPrice(5)">
                                                    <label for="radio_5">5 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_6" name="product_radio" class="regular_radio radio_6" onclick="setPrice(6)">
                                                    <label for="radio_6">6 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_7" name="product_radio" class="regular_radio radio_7" onclick="setPrice(7)">
                                                    <label for="radio_7">7 Days</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_8" name="product_radio" class="regular_radio radio_8" onclick="setPrice(14)">
                                                    <label for="radio_8">2 Weeks</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_9" name="product_radio" class="regular_radio radio_9" onclick="setPrice(30)">
                                                    <label for="radio_9">1 Month</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_10" name="product_radio" class="regular_radio radio_10" onclick="setPrice(90)">
                                                    <label for="radio_10">3 Months</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_11" name="product_radio" class="regular_radio radio_11" onclick="setPrice(180)">
                                                    <label for="radio_11">6 Months</label>
                                                </li>
                                                <li class="time">
                                                    <input type="radio" id="radio_12" name="product_radio" class="regular_radio radio_12" onclick="setPrice(365)">
                                                    <label for="radio_12">1 Year</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button class="cart_button trans_200">add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="footer_content">
                <div class="section_container">
                    <div class="container">
                        <div class="row">

                            <!-- About -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_about">
                                    <!-- Logo -->
                                    <div class="footer_logo">
                                        <img src="../Images/logo.png" width="162" height="150">
                                    </div>
                                    <div class="footer_about_text">
                                        <p>Sed pellentesque in ligula id dapibus. Integer ligula dui, auctor in lorem facilisis, tincidunt scelerisque ex. Ut cursus nisl mi, eget molestie turpis laoreet a.</p>
                                    </div>
                                    <div class="cards">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li><img src="../Images/card_1.jpg" alt=""></li>
                                            <li><img src="../Images/card_2.jpg" alt=""></li>
                                            <li><img src="../Images/card_3.jpg" alt=""></li>
                                            <li><img src="../Images/card_4.jpg" alt=""></li>
                                            <li><img src="../Images/card_5.jpg" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Questions -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_questions">
                                    <div class="footer_title">questions</div>
                                    <div class="footer_list">
                                        <ul>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Track Orders</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Jobs</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Partners</a></li>
                                            <li><a href="#">Support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_contact">
                                    <div class="footer_title">contact</div>
                                    <div class="footer_contact_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Company:</span><div>Test OÜ</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Address:</span><div>Paldiski maantee 203, 13517 Tallinn, Estonia</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Phone:</span><div>+372 5854 8945</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>E-mail:</span><div>test@test.com</div></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Credits -->
            <div class="credits">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                                <div class="credits_text">
                                    Donec fermentum elit vitae vestibulum Class aptent egestas.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Content/bootstrap-4.1.3/popper.js"></script>
    <script src="../Content/bootstrap-4.1.3/bootstrap.min.js"></script>
    <script src="../Plugins/greensock/TweenMax.min.js"></script>
    <script src="../Plugins/greensock/TimelineMax.min.js"></script>
    <script src="../Plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../Plugins/greensock/animation.gsap.min.js"></script>
    <script src="../Plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="../Plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../Plugins/easing/easing.js"></script>
    <script src="../Plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../Plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../Plugins/Isotope/fitcolumns.js"></script>
    <script src="../Scripts/product.js"></script>
    <script type="text/javascript" src="../Scripts/price.js"></script>
</body>
</html>